*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 1000px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 122px;
    gap: 12px;

}
.container .item{
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;

}